 
  .title-name {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 87, 87);
    font-size: 40px;
    font-family: "Mochiy Pop P One";
    padding: 20px;
    color: black;
    border: 2px solid black;
  }
  #logo-name {
    height: 15em;
    text-align: center;
  }
  #pop-icon {
    width: 50px;
    height: 50px;
    transition: linear 0.2s;
  }
  #pop-icon:hover {
    transform: rotate(-180deg);
  }
  #pop-container:hover #pop-section{
    display: block;
  }
  .logo {
    width: 75px;
    height: 75px;
  }
  body {
    background-color: whitesmoke;
  }
  #about-footer {
    color: rgb(88, 87, 87);
    font-size: 15px;
    text-align: center;
    margin: 20px;
  }
  footer {
    color: rgb(88, 87, 87);
    font-size: 40px;
    text-align: center;
    margin: 20px;
  }
hr {
    width: 25%;
    border: 3px solid black;
}
#pop-box {
    position: absolute;
    left: 890px;
    top: 25px;
    width: 30px;
    height: 30px;
}
#pop-container {
  position: absolute;
  left: 890px;
  top: 25px;
  width: 30px;
  height: 30px;
}
.title {
    font-size: 130px;
    font-family: "Bebas Neue";
    text-align: center;
}
.inputs {
    border-radius : 10px;
    width: 490px;
    height: 40px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 60px;
    padding: 40px;
    transition: 0.1s;
    background-color: rgb(247, 243, 243);
}
.inputs:focus {
    background-color: white;
}
#form-box {
    box-shadow: 10px 10px 10px rgb(107, 167, 235);
    padding: 20px;
    display: flex;
    justify-content: center;
    border-radius : 40px;
    background-color: rgb(200, 220, 255);
    margin: 100px;
}
.form-headers {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    font-family: "Play";
    margin-bottom: 20px;
}
#message {
    height: 300px;
}
#button {
    border-radius : 20px;
    width: 150px;
    height: 50px;
    background-color: oldlace;
    font-size: 30px;
}
#insta {
position: relative;
width: 150px;
height: 150px;
}
#note {
  font-size: 50px;
  font-family: "Play";
  font-weight: 200;
  margin-top: 25px;
}
#menu-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    left: -50px;
    transition: linear 0.2s;
}
#menu-icon:hover {
    transform: rotate(-180deg);
}
#profile-box {
    display: flex;
    justify-content: center;
    margin: 70px;
}
#profile-img {
    width: 300px;
    height: 300px;
}
#pop-box:hover #pop-section {
    display: block;
}
#pop-section {
    display: none;
    background-color: white;
    font-size: 40px;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    padding: 50px;
    position: absolute;
    left: -260px;
    top:  34px;
    border-radius: 40px;
}
#pop-box {
    position: absolute;
    left: 945px;
    top: 30px;
    width: 30px;
    height: 30px;
}
#web-logo {
    width: 150px;
    height: 150px;
}
#socials {
    display: flex;
    margin-top: 10%;
    justify-content: center;
}
#facebook {
position: relative;
top: 10px;
height: 120px;
width: 120px;
}
#illustration {
  background-image: url("strawberrydrawing-transparent.png");
}
#charater-sketch {
  background-image: url("inkrabbit-trans.png");
  background-position: 50%;
} 
#faces {
  background-image: url("face-trans.png");
  background-position: 50%;
}
#life-drawing {
  background-image: url("spiderman-new.png");
  background-position: 10% 10%;
}
.art-box {
  margin: 90px;
  font-size: 5em;
  font-family:"Bebas Neue";
  text-align: center;
  transition: linear 0.1s;
  background-size: cover;  
  border-radius: 30px;   
  text-shadow: 10px 10px 10px black;   
  box-shadow: 15px 15px 15px lightgrey; 
  box-sizing: border-box;
  height:450px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ;
}
#art-container {
  display: flex;
  flex-direction: column;
}
@media (max-width:640px) {
  #art-container {
    flex-direction: column;
  }
}
.no-deco-links {
  text-decoration: none;
  color: whitesmoke;
  display: block;
  width: 100%;
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.idx-link {
  text-decoration: none;
  color: black;
  font-family: "Mochiy Pop P One";
}
.idx-link:hover {
  cursor: pointer;
}
#content-box {
  font-size: 80px;
  text-align: center;
  font-family: "Anton";
  align-self: center;
  color: rgb(17, 17, 17);
}
#info {
  font-size: 50px;
  text-align: center;
  font-family: "bebas neue";
  color: rgb(53, 52, 52);
}
#head {
  display: flex;
  margin-top: 80px;
  justify-content: center;
}
#style-h1 {
  font-size: 80px;
  text-align: center;
  font-family: "Shadows Into Light";
  font-weight: 600;
}
#style-p {
  font-size: 50px;
  text-align: center;
  font-family: "play";
  font-weight: 100;
  font-style: italic;
  width: 700px;
  margin: auto;
}
.title-for-art {
  color: black;
  display: flex;
  justify-content: center;
  font-family: " Bebas Neue";
  font-size: 80px;
  margin-top: 80px;
  font-weight: 600;
}
.drawing-container {
  display: flex;
  height: auto;
  flex-direction: column;
}
.drawing {
  margin: 40px;
  border: 5px solid gray ;
  box-sizing: border-box;
}
.drawing>img {
  max-width: 100%;
}