html, body {
    margin: 0px;
    padding: 0px;
    font-family: inter;
    overflow-x: hidden;
}
:root {
    --yellow:#FFF06A ;
    --grey: #5F5E5E;
}
.nav-container {
    padding-left: 50px;
    display: flex;
    align-items: center;
}
.logo {
    max-width: 10vw;
    display: flex;
    align-items: center;
}
.logo-img{
    width: 100%;
}
.links {
    text-decoration: none;
    color: var(--grey);
    font-size: 1.6vw;
    transition: linear .1s ;
}
.links:hover {
    font-size: 1.8vw
}
.nav-links{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25vw;
    margin:0px;
}
.circle {
    width:50vw;
    height: 50vw;
    background-color:var(--yellow);
    border-radius: 100%;
    position: absolute;
    top: -17vw;
    right: -12vw;
}
.title {
    font-size: 6vw;
    width: 7em;
    font-family: Secular One;
    line-height: 5vw;
}
.headings {
    width: min-content;
    border: 0px solid black;
    margin-left: 15vw;
    margin-top: 10vw;
}
.s-info {
    color: #5f5e5e;
    font-size: 1.9vw;
    line-height: 2.6vw;
    margin: 4vw 0vw;
}
.button {
    width: 8vw;
    height: 4vw;
    border: 0px;
    background-color:var(--yellow);
    font-size: 1.3vw;
    color: var(--grey);
    font-family: inter;
    padding: 0px;
    transition: linear .1s;
}
.card-container {
    margin-top: 10vw;
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5vw;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
}
.icon {
    min-width: 12vw;
    min-height: 12vw;
    border-radius: 100%;
    background-color: aliceblue;
}
.card-h1 {
    font-family: Secular One;
    font-size: 2.8vw;
}
.white-button {
    background-color:#ffff;
    border: 1px solid var(--grey);
}
.button:hover {
    cursor:pointer;
    transform: scale(110%);
}
.insta-h1 {
    text-align: center;
    margin: 50px 0px;
}
.insta-container {
    margin: 50px;
}
.insta-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10vw;
    overflow: hidden;

}
.insta-art{
    max-height: 300px;
    max-width: 300px;
    /* background-color: var(--yellow); */
    margin: 10px;
}
.insta-art> img {
    min-height: 100%;
    width: 100%;
}
.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}
.socials> div {
    transform: scale(50%);
    margin: -40px;
}
footer {
    transform: translateX(-15px);
    text-align: center;
    color: var(--grey);
    font-size: 1em;
    margin-bottom: 30px;
}
.menu-box {
    display: none;
    text-align:end;
    z-index: 100;
}
@media (max-width: 640px) {
    .nav-links {
        display: none;
    }
    .menu-box {
        display: block;
    }
    .button {
        width: 56px;
        height: 25px;
        font-size: 8px;
    }
}
@media (max-width: 440px) {
    .headings {
        margin-left:auto;
        margin-right: auto;
        margin-top: 28vw;
        text-align: center;
    }
    .title {
        font-size: 8vw;
        line-height: 7vw;
    }
}
@media (max-width : 400px) {
    .card-container {
        flex-direction: column;
    }
    .icon {
        width: 30vw;
        height: 30vw;
    }
    .card-h1 {
        font-size: 7vw;
        font-weight: 600;
    }
}